/*____________________________FOOTER_______________________*/
.footers1{
    margin-top: 100px;
    padding: 40px 20px;
    position: relative;
    // top: 1700px;
    background: #2C343E;
    
}
.footers1__footer{
    display: flex;
    align-items: center;
}
.footers1__footer > ul{
    display: flex;
    margin-left: 100px;
}
.footers1__footer > ul > li{
    margin-left: 33px;
}
.footers1__footer > ul > li > a{
    font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */
text-decoration: none;
letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}
.footers1__footer > ul > li > a:active{color: white;}
.footers1__footer__icons{
    margin-left: auto;
}
.footers1__footer__icons > a{
    margin-left: 25px;
}
.footers1__footer__icons > a:active{
    background-color: #FDD6BA;
}
@media only  screen and (max-width:929px) {
    .footers1{
        &__footer{
            & > ul{
                margin-left: 0px;
                margin: 0px;
                margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
            }
        }
    }
    
}
@media only  screen and (max-width:789px) {
    .footers1{
        &__footer{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            & > a{
                
                & > img{
                    
                }
            }
            & > ul{
               text-align: center;
               display: flex;
               align-items: center;
               padding: 0px auto;
               margin: 0px auto;
            justify-content: center;

               
            }
            &__icons{
                margin:  0px auto;
            }
        }
    }
    
}
@media only  screen and (max-width:768px) {
    .footers1{
        // top: 1700px;
        &__footer{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
            & a{
               width: 100%;
               display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
               
            }
            & ul{
                width: 100%;
               display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
                & li{
                    & a{
                         margin-left: 0px;
                    }
                   
                }
            }
            &__icons{
                width: 100%;
               display: flex;
            // flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            }
        }
    }
    .footers1__footer__icons > a{
        margin-left: 25px;
    }
}
@media only screen and (max-width:595px) {
    .footers1{
        &__footer{
            & > a{
                display: block;
                width: 218px;
                margin: 0;
                margin: 0 auto;
                & img{
                   width: 218px;
                }
            }
            & ul{
                display: block;
            }
            &__icons{
                
            }
        }
    }
    
}