.header > h1{
    font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 56px;
line-height: 48px;
/* identical to box height, or 86% */
margin-top: 20px;
margin-bottom: 100px;

color: #333D4B;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999999999999999999999999999999999;
}
.header{
    // position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    z-index: 333333333333333333333344499;

}
.header > ul{
    display: flex;
    margin-left: auto;
    
}
.header > ul > li{
    margin: 0 30px;


}
.header > ul > li > a{
        font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */
text-decoration: none;
letter-spacing: 0.923077px;
text-transform: uppercase;
color: #83888F;

}
.header > ul > li > a:active{
    color: #333D4B;
    cursor: pointer;

}
@media only  screen and (max-width:1107px) {
    
    
}