/*coffee section*/
.coffee {
    /* padding: 100px 80px; */
    width: 100%;
    height: 600px;
    background: url(../img/Bitmap.jpg) no-repeat;
    border-radius: 10px;
    background-size: 100% 500px;
}

.coffee>h2 {
    padding-top: 80px;
    margin-left: 60px;
    font-family: 'Fraunces';
    max-width: 450px;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 72px;
    /* or 100% */


    color: #FEFCF7;
}

.coffee>p {
    margin-left: 60px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    max-width: 400px;

    color: #FEFCF7;
    margin-bottom: 40px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.coffee>a {
    margin-left: 60px;
    margin-top: 140px;
    text-decoration: none;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    background: #0E8784;
    border-radius: 6px;
    text-align: center;
    padding: 15px 30px;
    color: #FEFCF7;
}

.coffee>a:active {
    cursor: pointer;
    background: #66D2CF;
}


/*_____________________________collection__*/
.collection {
    position: relative;
    margin-bottom: 150px;
}

.collection__top>h2 {
    position: relative;
    z-index: -10;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    /* identical to box height, or 48% */

    text-align: center;
    color: #c2c4c7;

}

.collection__top {

    height: 100px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.collection__bottom {
    width: 100%;
    text-align: center;
    // position: absolute;
    // top: 60px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.collection__bottom__item {
    max-width: 255px;
}

.collection__bottom_item+.collection__bottom__item {
    margin-left: 30px;
}

.collection__bottom__item>img {
    margin-bottom: 60px;
}

.collection__bottom__item__div>h3 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;

    color: #333D4B;
}

.collection__bottom__item__div>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #333D4B;
}

/*_____________________________________________________________________AMENITIES________________________*/
.amenities {
    position: relative;
    // top: 500px;
}

.amenities__top {
    // position: absolute;
    height: 577px;
    width: 100%;
    background: #2C343E;
    border-radius: 10px;
    z-index: -1;
    text-align: center;

}

.amenities__top>h2 {
    padding-top: 30px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    margin-top: 100px;
    margin-bottom: 32px;
    text-align: center;

    color: #FEFCF7;
}

.amenities__top>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    margin: 0 auto;
    text-align: center;

    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;
    max-width: 540px;
}

.amenities__bottom {
    // position: absolute;
    top: 370px;
    display: flex;
    margin-top: -330px;
    justify-content: center;
    width: 100%;
}

.amenities__bottom__item {
    height: 382px;
    width: 350px;
    border-radius: 8px;
    background: #0E8784;
    border-radius: 8px;
    text-align: center;
}

.amenities__bottom__item+.amenities__bottom__item {
    margin-left: 30px;
}

.amenities__bottom__item>img {
    margin-top: 72px;
    margin-bottom: 56px;

}

.amenities__bottom__item>h3 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;


    color: #FEFCF7;
}

.amenities__bottom__item>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    margin: 0 auto;
    text-align: center;
    margin-top: 24px;
    color: #FEFCF7;
    max-width: 240px;
}

/*____________________________WORKS_______________________________*/
.works {
    position: relative;
    // top: 1457px;
}

.works>h2 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */


    color: #83888F;

}

.works__line {

    margin-top: 110px;
    height: 2px;
    background: #FDD6BA;
    width: 65%;
}

.works__line>span {
    position: absolute;
    padding: 20px 20px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
    top: 120px;

}

.aylana+.aylana {
    margin-left: 30%;

}

.aylana+.aylana+.aylana {
    margin-left: 60%;
}

.works__info {
    display: flex;
    margin-top: 60px;
}

.works__info__item>strong {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height, or 100% */
    margin-bottom: 38px;

    color: #FDD6BA;
}

.works__info__item>h3 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */
    width: 60%;
    margin-top: 20px;
    color: #333D4B;

}

.works__info__item {
    width: 31%;
}

.works__info__item>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    margin-top: 40px;
    width: 100%;
    color: #333D4B;
    margin-bottom: 50px;
}

.works>a {
    margin-top: 50px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    // position: absolute;
    text-align: center;
    // top: 640px;
    color: #FEFCF7;

    text-decoration: none;
    padding: 15px 31px;
    background: #0E8784;


    border-radius: 6px;
}

.works>a:active {
    cursor: pointer;
    background: #66D2CF;

}
















@media only screen and (max-width:1200px) {
    .amenities {
        width: 100%;

        &__top {
            width: 100%;
            height: 680px;
        }

        &__bottom {
            display: block;
            // position: relative;



            &__item+&__item {
                margin-left: 0px;
                margin: 0 auto;margin-top: 24px;
            }

            &__item {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                height: 180px;
                width: 573px;
                text-align: start;
                padding-left: 70px;
                margin-bottom: 41px;
                

                & img {
                    position: absolute;
                    width: 55px;
                    height: 55px;

                }

                & h3 {
                    
                    // width: 100%;
                    
                    padding-top: 41px;
                    font-size: 24px;
                    line-height: 32px;
                    margin: 0;margin-left: 130px;
                    padding-bottom: 16px;
                }

                & p {text-align: start;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 0 0;
                    margin-top: 0;
                    margin-bottom: 41px;
                }

            }

        }
    }
    // .works{
    //     // top: 1000px;
    // }
    // .footers1{
    //     // top: 0px;
    // }
}
@media only  screen and (max-width:1107px) {
    .collection{
        &__top{
            & h2{
                font-size: 96px;
line-height: 72px;
            }
        }
    }
    
}
@media only  screen  and (max-width:768px){
    .collection__bottom{
        display: block;
        width: 100px;
        margin-left: 10%;
        &__item{
                display: flex;
                &__div{
                    text-align: start;
                   
                    & p{
                        width: 282px;
                    }
                    
                }
            }
    }


    
}
@media only screen and(max-width:900px) {
    .works__info{
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        &__item{

            text-align: center;
            // max-width: 300px;
            width: 100%;
            & > h3{
                width: 100%;
            }
            & > p{
                margin: 40px auto;
                width: 300px;
            }
        }
    }
    .works > a{
        display: block;
        width: 216px;
        height: 54px;
        margin: 40px auto;
        // margin-left: auto;
    }
    
}

@media only screen and (max-width:723px) {
    .collection{
        &__top{
            & h2{
                font-size: 68px;
                line-height: 72px;
            }
        }
    }
    
}
@media only screen and (max-width:524px) {
    .collection{
        &__top{
            & h2{
                font-size: 40px;
                line-height: 72px;
            }
        }
    }
    
}
@media only screen and (max-width:620px) {
    .amenities {
        

        &__top {
         width: 100%;
         height: 902px;

            & h2{
                font-size: 40px;
line-height: 40px;
            }
            & p{
                width: auto;
                font-size: 15px;
                line-height: 25px; 
            }
        }

        &__bottom {
           



            &__item+&__item {
                position: static;
                height: 382px;
width: 279px;
text-align: center;
border-radius: 8px;

            }

            &__item {
               position: static;
               height: 382px;
               width: 279px;
               text-align: center;
               border-radius: 8px;
               margin-top: -700px;

                & img {
                    margin-left: 40px;
                  display: block;
                  position: static;
                  
                }

                & h3 {
                    position: static;
                  display: block; 
                  padding: 0;
                  margin: 0;
                  margin-left: -30px;
                }

                & p {
                    position: static;
                    padding: 0;
                  margin: 0;
                  text-align: center;
                  width:auto;
                  margin-left: -34px;
                  margin-right: 34px;
                }

            }

        }
    }
    .collection{
       
        &__bottom{
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__item{
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                // & img{
                    
                // }
               &__div{
                text-align: center;
               }
            }
        }
    }
    
}
@media only screen and (max-width:375px) {
    .works__info{
        display: block;
    }
    
}